@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #022913;
  --secondary: #6cffb8;
  --accent: #42dcff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #022913;
    --secondary: #6cffb8;
    --accent: #42dcff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  primary: var(--primary);
  secondary: var(--secondary);
  accent: var(--accent);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
